[submodule "os/rt-thread"]
	path = os/rt-thread
	url = git@gitee.com:rtthread/rt-thread.git
[submodule "sdk/bl_iot_sdk"]
	path = sdk/bl_iot_sdk
	url = git@gitee.com:scriptiot/bl_iot_sdk.git
[submodule "components/micropython"]
	path = components/micropython
	url = git@gitee.com:scriptiot/micropython.git
[submodule "sdk/emsdk"]
	path = sdk/emsdk
	url = https://gitee.com/scriptiot/emsdk.git
[submodule "sdk/wabt"]
	path = sdk/wabt
	url = https://gitee.com/scriptiot/wabt.git
