/dts-v1/;
#include <st/l4/stm32l432Xc.dtsi>

/ {
	model = "Bearpi STM32L431 board";
	compatible = "bearpi,bearpi_stm32l431", "st,stm32l431";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_0 {
			gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
			label = "LED0";
		};
	};
};

&usart1 {
	current-speed = <115200>;
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	status = "okay";
};

&rtc {
	status = "okay";
};

