.container {
    width: 240px;
    height: 240px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    border-color: red;
    background-color: black;
}

.btn-group {
    top: 20px;
    left: 0px;
    width: 240px;
    height: 220px;
    background-color: transparent;
}