.container {
    width: 240px;
    height: 240px;
    border-radius: 2;
    border-width: 0;
    background-color: transparent;
}

.wrapper {
    top: 30px;
    width: 240px;
    height: 240px;
    background-color: transparent;
}

.img-wrapper {
    top: 0px;
    left: 0px;
    width: 240px;
    height: 240px;
    align-items: pretty;
    background-color: transparent;
}

.img-zoom {
    width: 50px;
    height: 50px;
}

.img-wrap {
    width: 240px;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.img-modal {
    left: 0px;
    right: 0px;
    width: 240px;
    height: 240px;
    flex-direction: column;
    background-color: black;
}

.current-img {
    top: 30px;
    left: 0px;
}

.btn-group {
    top: 200px;
    left: 0px;
    width: 240px;
    height: 40px;
    background-color: transparent;
}