.container {
    width: 240px;
    height: 240px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    background-color:#382830;
}
.imgbox{
    width:28px;
    height: 32px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.QRcode{
    overflow: hidden;
    align-content: center;
    left:50px;
    top: 40px;
    width: 140px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width: 100px;
    left: 90px;
    top: 195px;
    background-color: transparent;
    color: white
}