.container {
    width: 240px;
    height: 240px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    background-color:#382830;
}
.QRcode{
    align-content: center;
    left:60px;
    top: 40px;
    width: 120px;
    height: 120px;
}
.text{
    width: 150px;
    left: 85px;
    top: 170px;
    background-color: transparent;
    color: white
}
.text1{
    width: 180px;
    left: 55px;
    top: 190px;
    background-color: transparent;
    color: white
}