# STM32L432KC Nucleo board configuration

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# Copyright (c) 2016 BayLibre, SAS
# SPDX-License-Identifier: Apache-2.0

if BOARD_BEARPI_STM32L431

config BOARD
	default "bearpi_stm32l431"

config ST7789V
	default y
	depends on DISPLAY

config HAS_STM32CUBE
	default y

config USE_STM32_HAL_MMC
	default y

config USE_STM32_HAL_MMC_EX
	default y

config USE_STM32_HAL_SD
	default y

config USE_STM32_LL_SDMMC
	default y




endif
