# NUCLEO-64 F103RB board configuration

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

config STM32F103_FIRE_ARBITRARY
	bool "stm32f103 fire arbitrary Development Board"
	depends on SOC_STM32F103XE
